#load libraries
library(reshape)
library(vegan)
library(bipartite)

#Calculate mean number of individuals between sampling rounds
carab.per.round = read.csv(file = "carab.per.round.csv", header = TRUE, sep = ";")
mean.carab=aggregate(carab.per.round[,3:ncol(carab.per.round)], list(carab.per.round$trap.code), mean)

#Export and reimport file to add a landscape column
write.table(mean.carab,file="mean.carab.csv",row.names=T,col.names=T,quote=F,sep=";")
mean.carab = read.csv(file = "mean.carab.csv", header = TRUE, sep = ";")

#Merge to add habitat data
trap.habitat = read.csv(file = "trap.habitat.csv", header = TRUE, sep = ";")
mean.carab.habitat<-merge(trap.habitat,mean.carab,  by="trap",all.y = FALSE)

#NMDS
library(ggpubr)
library(dplyr)
library(ecodist)

mds=m.car%>%
  distance(method="bray-curtis")%>%
  cmdscale(k=3)%>%
  as_tibble()%>%
  mutate(groups=mean.carab.habitat$Macrohabitat)
colnames(mds)=c("Dim.1","Dim.2","Dim.3","Habitat")

ggscatter(mds,x="Dim.1",y="Dim.2",
          color="Habitat",
          palette=c("darkgreen","green","lightgreen","blue","orange","yellow","red","lightblue"),
          pch=3,
          size=2,
          ellipse=TRUE,
          ellipse.type="confidence")
